<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Create</title>
</head>
<body>

    <h1>User Registration</h1>
<!--    th:action="@{/}"-->
    <form th:action="@{/user/create}"  method="post" th:object="${user}">
        <label>User name:</label>
        <input type="text" th:field="*{userName}" /><br/>

        <label>Phone Number:</label>
        <input type="number" th:field="*{phoneNum}" /><br/>

        <label>Gender:</label>
        <input type="radio" th:field="*{gender}" value="1" />Male
        <input type="radio" th:field="*{gender}" value="2" />Female<br/>

        <label>Married?</label>
        <input type="checkbox" th:field="*{married}" /><br/>

        <label>City:</label>
        <select th:field="*{city}">
            <option th:each="c : ${cities}" th:value="${c}" th:text="${c}" />
        </select>
        <br/>

        <button type="submit">Submit</button>
    </form>

</body>
</html>